body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
}

.top-area{
   display: flex;
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
   padding-bottom: 100px;
}
.half-width{
   width: 50%;
   padding-left: 50px;
   margin-left: 50px;
}
.half-width img{
   width: 80%;
}
h1{
   font-size: 50px;
}
.button-1{
   background-image: linear-gradient(to right, #FF9470, #FF6E50FF);
   text-decoration: none;
   padding: 10px 30px;
   color: #FFf;
   font-weight: bold;
   border-radius: 10px;
}
.color-1{
   color: #FFA500;
}
.middle-area{
   display: flex;
   background-image: url(images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
}
.box-item{
   display: flex;
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
  
}
.experience-area{
   padding-top: 50px;
  }
footer{
   color: gray;
   text-align: center;
   padding: 60px;
}
.full-stac{
   box-shadow: 10px 10px 40px gray;
   width: 40%;
  
}
.baby-web{
   box-shadow: 10px 10px 40px gray;
      width: 40%;
}
#card-1{
    border-left: 7px solid ;
   border-image: linear-gradient(white, blue);
   border-image-slice: 1;
}
#card-2{
   border-left: 7px solid ;
   border-image: linear-gradient(tomato, aqua);
   border-image-slice: 1;
}

p{
   color: lightslategray;
}